<!DOCTYPE html>
<!--
This file is property of Power2SME pvt. ltd.
@author(developer) : Himanshu Shekhar (himanshushekhar002@gmail.com)
@Date :
@FileName For Reference :
@Purpose : 
@Other Description :
-->
<div style="height:480px;">
    <div class="chatmsg message-box-container-bot intro-bubble">
        <img class="welcome-user-icon" ng-src="{{getBotIconUrl()}}">
        <div>
            <b>PICS</b><br/>
            <small>Virtual Assistant Agent</small>
        </div>
    </div>
    <div class="chatmsg message-box-container-bot ">
        <img class="user-icon" ng-src="{{getBotIconUrl()}}">
        <div class="white-bubble">
            Hello, How can I help you?
        </div>
    </div>
    <div id="welcome-chatnow-container">
        <md-button id="chat_now_button" class="md-raised md-primary md-hue-2" ng-click="nextChatViewStage();">CHAT NOW</md-button>
    </div>            
</div>